html,
body,
header,
#welcome {
    height: 100%;
}

#welcome {
    background: url("/img/backg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body,
header,
#about {
    height: 100%;
}

#about {
    background: url("/img/sunset.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body,
header,
#portfolio {
    height: 100%;
}

#portfolio {
    background: url("/img/mountain.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}